# coding=utf-8

## InfluxDB
INFLUX_URL = 'xxxxx.butadora.com'
INFLUX_USER = 'user'
INFLUX_PASS = 'password'
INFLUX_PORT = 8086
DB_NAME = u"db_name"

## raspi hostname (for 'host' tag)
HOSTNAME = 'xxxxx'
